<div class="content">
    <div class="left">
        <p>
            <b>Seller Manager</b>
        </p>

        &nbsp;&nbsp;<a href="#" routerLink="/seller/sellerItemList">Item In Stock</a>
        <br>
        <br>
        &nbsp;&nbsp;<a href="#" routerLink="/seller/sellerSoldReport">Sold Report</a>
        <br>
        <br>
        &nbsp;&nbsp;<a href="#" routerLink="/seller/sellerProfileEdit">Edit Profile</a>
        <br>
        <br>
        &nbsp;&nbsp;<a href="#" routerLink="/login">Log Out</a>
        <br>
        <br>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
