<form>
    <input type="hidden" name="user_kind" value="1">
    <table border="0">
        <tr class="signuptr">
            <td class="item">User Id</td>
            <td><input type="text"></td>
        </tr>
        <tr class="signuptr">
            <td>User Name</td>
            <td><input type="text"></td>
        </tr>
        <tr class="signuptr">
            <td>Email</td>
            <td><input type="text"></td>
        </tr>
        <tr class="signuptr">
            <td>Mobile Number</td>
            <td><input type="text"></td>
        </tr>
        <tr class="signuptr">
            <td>Passworld</td>
            <td><input type="password"></td>
        </tr>
        <tr class="signuptr">
            <td>Confirm Password</td>
            <td><input type="password"></td>
        </tr>
        <tr class="signuptr">
            <td></td>
            <td>
                <input type="button" name="submit" value="Sign Up" routerLink="/login" routerLinkActive="router-link-active" >
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" name="reset" value="Reset"></td>
        </tr>
    </table>
</form>
