<hr>
<div class="container">
    <div class="row">
      <div class="col-md-2 offset-6" align="center">
          <a routerLink="/history">Purchase History</a>
        </div>
      <div class="col-md-1">
        <a routerLink="/category">Category</a>
        </div>
      <div class="col-md-1">
          <b>Search</b>
        </div>
      <div class="col-md-1">
        <a routerLink="/cart">Cart</a>
    </div>
      <div class="col-md-1">
        <a routerLink="/logout">LogOut</a>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2 offset-10" align="right">
            <marquee>{{login_user_id}}, welcome to eMart.</marquee>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Category: Computer >> Note PC </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-5">
            <input type="text" name="search_name" class="searchbox" [(ngModel)]="search_name"> &ngsp;&ngsp;
            <input type="button" name="search" value="Search" (click)=search()>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-9" align="center">
          <p>
            &nbsp;&nbsp;
          </p>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr class="th">
                    <th></th>
                    <th>Item name</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Seller</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cur_page_item_list;let lx=index">
                    <td align="center">
                        <a href="#" (click)="buyItem(item.id)">
                            <img src="{{item.image_url_1}}" class="image">
                            {{item.itemName}}
                        </a>
                    </td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.categoryId}}</td>
                    <td>{{item.subCategoryId}}</td>
                    <td>{{item.seller}}</td>
                    <td align="right">{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-5 offset-5">
            <span>
                <a href="#" (click)=pageChange(1)><<</a>&nbsp;
            </span>
            <span *ngFor="let page of page_list">
                <a href="#" (click)=pageChange(page) >{{page}}</a>&nbsp;
            </span>
            <span>
                <a href="#" (click)=pageChange(page_list.length)>>></a>
            </span>
        </div>
    </div>

</div>