<div class="container">
    <div class="row">
      <div class="col-md-4">
          <p>Seller Manager >> Edit Profile</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <input type="hidden" name="user_kind" value="2">
            <table border="0">
                <tr class="edit">
                    <td class="item">User Id</td>
                    <td>
                        <span>{{seller.userId}}</span>
                        <input type="hidden" name="user_id" [(ngModel)]="seller.userId">
                    </td>
                </tr>
                <tr class="edit">
                    <td>User Name</td>
                    <td><input type="text" name="user_name" [(ngModel)]="seller.userName"></td>
                </tr>
                <tr class="edit">
                    <td>Password</td>
                    <td><input type="password" name="password" [(ngModel)]="seller.password"></td>
                </tr>
                <tr class="edit">
                    <td>Confirm Password</td>
                    <td><input type="password" name="confirm_password" [(ngModel)]="confirmPassword"></td>
                </tr>
                <tr class="edit">
                    <td>Company Name</td>
                    <td><input type="text" name="company_name" [(ngModel)]="seller.companyName"></td>
                </tr>
                <tr class="edit">
                    <td valign="top">Brief of Company</td>
                    <td><textarea  name="brief_of_company" [(ngModel)]="seller.briefOfCompany" cols="22" rows="3"></textarea></td>
                </tr>
                <tr class="edit">
                    <td>GSTIN</td>
                    <td><input type="text" name="gstin" [(ngModel)]="seller.gstin"></td>
                </tr>
                <tr class="edit">
                    <td>Post Address</td>
                    <td><input type="text" name="post_address" [(ngModel)]="seller.postAddress"></td>
                </tr>
                <tr class="edit">
                    <td>Website</td>
                    <td><input type="text" name="website" [(ngModel)]="seller.website"></td>
                </tr>
                <tr class="edit">
                    <td>Email</td>
                    <td><input type="text" name="email" [(ngModel)]="seller.email"></td>
                </tr>
                <tr class="edit">
                    <td>Contract Number</td>
                    <td><input type="text" name="contract_number" [(ngModel)]="seller.contractNumber"></td>
                </tr>
                <tr class="edit">
                    <td></td>
                    <td>
                        <input type="button" name="submit" value="Edit Profile"  (click)="profileEdit()">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="reset" name="reset" value="reset">
                    </td>
                </tr>
            </table>
        </div>
    </div>    
</div>