<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p>Seller Manager >> Item In Stock >> Add Item</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-2">
            <table border="0">
                <tr class="item">
                    <td>Category</td>
                    <td>
                        <select name="category_id" style="width:210px" [(ngModel)]="item.categoryId" (ngModelChange)="catChange()">
                            <option value="999"></option>
                            <option *ngFor="let cat of category_list" [value]="cat.id">{{cat.categoryName}}</option>
                        </select>
                    </td>
                </tr>
                <tr class="item">
                    <td>SubCategory</td>
                    <td>
                        <select name="subcategory_id" style="width:210px" [(ngModel)]="item.subCategoryId">
                            <option value="999"></option>
                            <option *ngFor="let cat of subcategory_list" [value]="cat.id">{{cat.categoryName}}</option>
                        </select>
                    </td>
                </tr>
                <tr class="item">
                    <td width="150">Item Name</td>
                    <td><input type="text" name="item_name" [(ngModel)]="item.itemName"></td>
                </tr>
                <tr class="item">
                    <td>Price</td>
                    <td><input type="text" name="price" [(ngModel)]="item.price"></td>
                </tr>
                <tr class="item">
                    <td>Remainning</td>
                    <td><input type="text" name="remain_num" [(ngModel)]="item.remainNum"></td>
                </tr>
                <tr class="item">
                    <td valign="top">Item Description</td>
                    <td>
                        <textarea name="item_desc" cols="22" rows="5" [(ngModel)]="item.itemDesc"></textarea>
                    </td>
                </tr>
                <tr class="item">
                    <td>Item Image Upload</td>
                    <td></td>
                </tr>
                <tr class="item">
                    <td align="center">Image 1</td>
                    <td><input type="file" name="image1" [(ngModel)]="item.image1"></td>
                </tr>
                <tr class="item">
                    <td align="center">Image 2</td>
                    <td><input type="file" name="image2" [(ngModel)]="item.image2"></td>
                </tr>
                <tr class="item">
                    <td align="center">Image 3</td>
                    <td><input type="file" name="image3" [(ngModel)]="item.image3"></td>
                </tr>
                <tr class="item">
                    <td align="center">Image 4</td>
                    <td><input type="file" name="image4" [(ngModel)]="item.image4"></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 offset-3" align="right">
            <input type="button" name="submit" value="Add Item" (click)="addItem()">
        </div>
        <div class="col-md-1">
            <input type="reset" name="reset" value="Reset">
        </div>
    </div>
</div>
