<hr>
<div class="container">
    <div class="row">
      <div class="col-md-2 offset-6" align="center">
          <a routerLink="/history">Purchase History</a>
        </div>
      <div class="col-md-1">
        <a routerLink="/category">Category</a>
        </div>
      <div class="col-md-1">
          <b>Search</b>
        </div>
      <div class="col-md-1">
        <a routerLink="/cart">Cart</a>
      </div>
      <div class="col-md-1">
        <a routerLink="/logout">LogOut</a>
      </div>
    </div>
    <hr>
    <p align="center"><b>Item Detail</b></p>
    <div class="row">
        <div class="col-md-2 offset-2" align="center">
            &nbsp;
            <!--
            <img src="../../assets/images/thinkpad.jpg" class="image">
            <br>
            <a routerLink="/itemDetail">1</a> &ngsp;
            <a routerLink="/itemDetail">2</a> &ngsp;
            <a routerLink="/itemDetail">3</a> &ngsp;
            <a routerLink="/itemDetail">4</a> &ngsp;
            -->
        </div>
        <div class="col-md-6">
            <table border="0" width="600">
                <tr>
                    <td width="150">Item Name</td>
                    <td>{{item.itemName}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{categoryName}}</td>
                </tr>
                <tr>
                    <td>SubCategory</td>
                    <td>{{subcategoryName}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{item.price}}</td>
                </tr>
                <tr>
                    <td>Remainning</td>
                    <td>{{item.remainNum}}</td>
                </tr>
                <tr>
                    <td valign="top">Item Description</td>
                    <td>
                        {{item.itemDesc}}
                    </td>
                </tr>
                <tr>
                    <td>Buy Number</td>
                    <td>
                        <input type="text" name="addNum"  min="0" max="100" style="width:50px" [(ngModel)]="addNum"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-9" align="center">
            <input type="button" name="submit" value="Add to Cart" (click)="addToCart()">
        </div>
        <div class="col-md-1">
            <input type="button" name="submit" value="Return" onclick="history.back()">
        </div>
    </div>
</div>
